{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Counter</title>
</head>
<body>
    <div class="container">
        <h2>{{feature.name}}</h2>
        <p class="description">{{feature.details}}</p>
        <form method="POST" action="/counter/">
            {% csrf_token %}
            <textarea name="text" placeholder="{{feature.text_area}}">{{ text }}</textarea><br>
            <button type="submit">Count</button>
        </form>

        {% if word_count is not None %}
        <div class="result">
            <p><strong>Word Count:</strong> {{ word_count }}</p>
            <p><strong>Character Count:</strong> {{ char_count }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>

<!-- 
<h1> Input your text below:</h1>

<form method="" action="/counter">
    <textarea name="text" rows="25" cols="100"></textarea></br>
    <input type="submit"/>
</form> -->
