<h1> Sign up below</h1>

<style>
    h5 {
        color: red;
    }
</style>
{% for message in messages%}
<h5>{{message}}</h5>
{% endfor %}

<form method="POST" action="/register/">
    {% csrf_token %}
    <p>Username:</p>
    <input type="text" name="username" placeholder="Username" required />
    <p>Email:</p>
    <input type="email" name="email" placeholder="Email" required />
    <p>Password:</p>
    <input type="password" name="password" placeholder="Password" required />
    <p>Confirm Password:</p>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required /><br>
    <input type="submit" value="Register"/>
</form>